// Color Schemas
$white: #ffffff;
$isabelline: #ececec;
$light-gray: #d1d1d1;
$granite-gray: #646266;
$smoky-black: #0c0910;
$steel-blue: #05a5f8;
$coral: #ff7f50;
$fluor: #95e11c;
$yellowflu: #f8d905;


// Typography
$lato: 'lato', sans-serif;

// Font Weight
$bold: 700;
$regular: 400;
$light: 300;

// Font Sizes
$xxx-large: 40px;
$xx-large: 25px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
